SUPPLYCHAIN_API/CRBARef.wsdl

<?xml version="1.0" encoding="UTF-8"?><!--
 Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. 
--><!--
 Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. 
--><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.crbws.transunion.ke.co/" xmlns:tns="http://ws.crbws.transunion.ke.co/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <documentation>
    <appinfo source="WMQI_APPINFO">
      <MRWSDLAppInfo imported="true">
        <generatedXSD location="CRBARef_InlineSchema1.xsd"/>
      </MRWSDLAppInfo>
    </appinfo>
  </documentation>
<types>

        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ws.crbws.transunion.ke.co/" version="1.0" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">
<xsd:include schemaLocation="CRBARef_InlineSchema1.xsd"/>
    </xs:schema>
    </types>
<message name="getProduct406">
<part element="tns:getProduct406" name="parameters"/>
</message>
<message name="getProduct406Response">
<part element="tns:getProduct406Response" name="parameters"/>
</message>
<message name="getServerInfo">
<part element="tns:getServerInfo" name="parameters"/>
</message>
<message name="getServerInfoResponse">
<part element="tns:getServerInfoResponse" name="parameters"/>
</message>
<message name="getCreditBal">
<part element="tns:getCreditBal" name="parameters"/>
</message>
<message name="getCreditBalResponse">
<part element="tns:getCreditBalResponse" name="parameters"/>
</message>
<message name="getProduct112">
<part element="tns:getProduct112" name="parameters"/>
</message>
<message name="getProduct112Response">
<part element="tns:getProduct112Response" name="parameters"/>
</message>
<message name="getProduct110">
<part element="tns:getProduct110" name="parameters"/>
</message>
<message name="getProduct110Response">
<part element="tns:getProduct110Response" name="parameters"/>
</message>
<message name="getProduct151">
<part element="tns:getProduct151" name="parameters"/>
</message>
<message name="getProduct151Response">
<part element="tns:getProduct151Response" name="parameters"/>
</message>
<message name="getProduct104">
<part element="tns:getProduct104" name="parameters"/>
</message>
<message name="getProduct104Response">
<part element="tns:getProduct104Response" name="parameters"/>
</message>
<message name="getProduct114">
<part element="tns:getProduct114" name="parameters"/>
</message>
<message name="getProduct114Response">
<part element="tns:getProduct114Response" name="parameters"/>
</message>
<message name="getProduct126">
<part element="tns:getProduct126" name="parameters"/>
</message>
<message name="getProduct126Response">
<part element="tns:getProduct126Response" name="parameters"/>
</message>
<message name="getProduct402">
<part element="tns:getProduct402" name="parameters"/>
</message>
<message name="getProduct402Response">
<part element="tns:getProduct402Response" name="parameters"/>
</message>
<message name="getProduct100">
<part element="tns:getProduct100" name="parameters"/>
</message>
<message name="getProduct100Response">
<part element="tns:getProduct100Response" name="parameters"/>
</message>
<message name="getProduct150">
<part element="tns:getProduct150" name="parameters"/>
</message>
<message name="getProduct150Response">
<part element="tns:getProduct150Response" name="parameters"/>
</message>
<message name="getProduct107">
<part element="tns:getProduct107" name="parameters"/>
</message>
<message name="getProduct107Response">
<part element="tns:getProduct107Response" name="parameters"/>
</message>
<message name="getProduct102">
<part element="tns:getProduct102" name="parameters"/>
</message>
<message name="getProduct102Response">
<part element="tns:getProduct102Response" name="parameters"/>
</message>
<message name="getProduct153">
<part element="tns:getProduct153" name="parameters"/>
</message>
<message name="getProduct153Response">
<part element="tns:getProduct153Response" name="parameters"/>
</message>
<message name="getProduct109">
<part element="tns:getProduct109" name="parameters"/>
</message>
<message name="getProduct109Response">
<part element="tns:getProduct109Response" name="parameters"/>
</message>
<message name="getProduct121">
<part element="tns:getProduct121" name="parameters"/>
</message>
<message name="getProduct121Response">
<part element="tns:getProduct121Response" name="parameters"/>
</message>
<message name="getProduct401">
<part element="tns:getProduct401" name="parameters"/>
</message>
<message name="getProduct401Response">
<part element="tns:getProduct401Response" name="parameters"/>
</message>
<message name="getProduct403">
<part element="tns:getProduct403" name="parameters"/>
</message>
<message name="getProduct403Response">
<part element="tns:getProduct403Response" name="parameters"/>
</message>
<message name="getProduct124">
<part element="tns:getProduct124" name="parameters"/>
</message>
<message name="getProduct124Response">
<part element="tns:getProduct124Response" name="parameters"/>
</message>
<message name="getProduct405">
<part element="tns:getProduct405" name="parameters"/>
</message>
<message name="getProduct405Response">
<part element="tns:getProduct405Response" name="parameters"/>
</message>
<message name="getProduct159">
<part element="tns:getProduct159" name="parameters"/>
</message>
<message name="getProduct159Response">
<part element="tns:getProduct159Response" name="parameters"/>
</message>
<message name="getProduct103">
<part element="tns:getProduct103" name="parameters"/>
</message>
<message name="getProduct103Response">
<part element="tns:getProduct103Response" name="parameters"/>
</message>
<message name="getProduct101">
<part element="tns:getProduct101" name="parameters"/>
</message>
<message name="getProduct101Response">
<part element="tns:getProduct101Response" name="parameters"/>
</message>
<message name="getProduct105">
<part element="tns:getProduct105" name="parameters"/>
</message>
<message name="getProduct105Response">
<part element="tns:getProduct105Response" name="parameters"/>
</message>
<message name="getProduct152">
<part element="tns:getProduct152" name="parameters"/>
</message>
<message name="getProduct152Response">
<part element="tns:getProduct152Response" name="parameters"/>
</message>
<message name="getProduct108">
<part element="tns:getProduct108" name="parameters"/>
</message>
<message name="getProduct108Response">
<part element="tns:getProduct108Response" name="parameters"/>
</message>
<message name="getProduct136">
<part element="tns:getProduct136" name="parameters"/>
</message>
<message name="getProduct136Response">
<part element="tns:getProduct136Response" name="parameters"/>
</message>
<message name="getProduct118">
<part element="tns:getProduct118" name="parameters"/>
</message>
<message name="getProduct118Response">
<part element="tns:getProduct118Response" name="parameters"/>
</message>
<message name="getProduct115">
<part element="tns:getProduct115" name="parameters"/>
</message>
<message name="getProduct115Response">
<part element="tns:getProduct115Response" name="parameters"/>
</message>
<message name="getProduct116">
<part element="tns:getProduct116" name="parameters"/>
</message>
<message name="getProduct116Response">
<part element="tns:getProduct116Response" name="parameters"/>
</message>
<message name="getProduct137">
<part element="tns:getProduct137" name="parameters"/>
</message>
<message name="getProduct137Response">
<part element="tns:getProduct137Response" name="parameters"/>
</message>
<message name="getProduct132">
<part element="tns:getProduct132" name="parameters"/>
</message>
<message name="getProduct132Response">
<part element="tns:getProduct132Response" name="parameters"/>
</message>
<message name="getProduct122">
<part element="tns:getProduct122" name="parameters"/>
</message>
<message name="getProduct122Response">
<part element="tns:getProduct122Response" name="parameters"/>
</message>
<message name="getProduct163">
<part element="tns:getProduct163" name="parameters"/>
</message>
<message name="getProduct163Response">
<part element="tns:getProduct163Response" name="parameters"/>
</message>
<message name="getProduct125">
<part element="tns:getProduct125" name="parameters"/>
</message>
<message name="getProduct125Response">
<part element="tns:getProduct125Response" name="parameters"/>
</message>
<message name="getProduct130">
<part element="tns:getProduct130" name="parameters"/>
</message>
<message name="getProduct130Response">
<part element="tns:getProduct130Response" name="parameters"/>
</message>
<message name="getProduct131">
<part element="tns:getProduct131" name="parameters"/>
</message>
<message name="getProduct131Response">
<part element="tns:getProduct131Response" name="parameters"/>
</message>
<portType name="ControllerKenya">
<operation name="getProduct406">
<input message="tns:getProduct406" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct406Request"/>
<output message="tns:getProduct406Response" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct406Response"/>
</operation>
<operation name="getServerInfo">
<input message="tns:getServerInfo" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getServerInfoRequest"/>
<output message="tns:getServerInfoResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getServerInfoResponse"/>
</operation>
<operation name="getCreditBal">
<input message="tns:getCreditBal" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getCreditBalRequest"/>
<output message="tns:getCreditBalResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getCreditBalResponse"/>
</operation>
<operation name="getProduct112">
<input message="tns:getProduct112" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct112Request"/>
<output message="tns:getProduct112Response" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct112Response"/>
</operation>
<operation name="getProduct110">
<input message="tns:getProduct110" xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" ns9:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct110Request"/>
<output message="tns:getProduct110Response" xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" ns10:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct110Response"/>
</operation>
<operation name="getProduct151">
<input message="tns:getProduct151" xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata" ns11:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct151Request"/>
<output message="tns:getProduct151Response" xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata" ns12:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct151Response"/>
</operation>
<operation name="getProduct104">
<input message="tns:getProduct104" xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata" ns13:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct104Request"/>
<output message="tns:getProduct104Response" xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata" ns14:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct104Response"/>
</operation>
<operation name="getProduct114">
<input message="tns:getProduct114" xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata" ns15:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct114Request"/>
<output message="tns:getProduct114Response" xmlns:ns16="http://www.w3.org/2007/05/addressing/metadata" ns16:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct114Response"/>
</operation>
<operation name="getProduct126">
<input message="tns:getProduct126" xmlns:ns17="http://www.w3.org/2007/05/addressing/metadata" ns17:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct126Request"/>
<output message="tns:getProduct126Response" xmlns:ns18="http://www.w3.org/2007/05/addressing/metadata" ns18:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct126Response"/>
</operation>
<operation name="getProduct402">
<input message="tns:getProduct402" xmlns:ns19="http://www.w3.org/2007/05/addressing/metadata" ns19:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct402Request"/>
<output message="tns:getProduct402Response" xmlns:ns20="http://www.w3.org/2007/05/addressing/metadata" ns20:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct402Response"/>
</operation>
<operation name="getProduct100">
<input message="tns:getProduct100" xmlns:ns21="http://www.w3.org/2007/05/addressing/metadata" ns21:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct100Request"/>
<output message="tns:getProduct100Response" xmlns:ns22="http://www.w3.org/2007/05/addressing/metadata" ns22:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct100Response"/>
</operation>
<operation name="getProduct150">
<input message="tns:getProduct150" xmlns:ns23="http://www.w3.org/2007/05/addressing/metadata" ns23:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct150Request"/>
<output message="tns:getProduct150Response" xmlns:ns24="http://www.w3.org/2007/05/addressing/metadata" ns24:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct150Response"/>
</operation>
<operation name="getProduct107">
<input message="tns:getProduct107" xmlns:ns25="http://www.w3.org/2007/05/addressing/metadata" ns25:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct107Request"/>
<output message="tns:getProduct107Response" xmlns:ns26="http://www.w3.org/2007/05/addressing/metadata" ns26:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct107Response"/>
</operation>
<operation name="getProduct102">
<input message="tns:getProduct102" xmlns:ns27="http://www.w3.org/2007/05/addressing/metadata" ns27:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct102Request"/>
<output message="tns:getProduct102Response" xmlns:ns28="http://www.w3.org/2007/05/addressing/metadata" ns28:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct102Response"/>
</operation>
<operation name="getProduct153">
<input message="tns:getProduct153" xmlns:ns29="http://www.w3.org/2007/05/addressing/metadata" ns29:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct153Request"/>
<output message="tns:getProduct153Response" xmlns:ns30="http://www.w3.org/2007/05/addressing/metadata" ns30:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct153Response"/>
</operation>
<operation name="getProduct109">
<input message="tns:getProduct109" xmlns:ns31="http://www.w3.org/2007/05/addressing/metadata" ns31:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct109Request"/>
<output message="tns:getProduct109Response" xmlns:ns32="http://www.w3.org/2007/05/addressing/metadata" ns32:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct109Response"/>
</operation>
<operation name="getProduct121">
<input message="tns:getProduct121" xmlns:ns33="http://www.w3.org/2007/05/addressing/metadata" ns33:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct121Request"/>
<output message="tns:getProduct121Response" xmlns:ns34="http://www.w3.org/2007/05/addressing/metadata" ns34:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct121Response"/>
</operation>
<operation name="getProduct401">
<input message="tns:getProduct401" xmlns:ns35="http://www.w3.org/2007/05/addressing/metadata" ns35:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct401Request"/>
<output message="tns:getProduct401Response" xmlns:ns36="http://www.w3.org/2007/05/addressing/metadata" ns36:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct401Response"/>
</operation>
<operation name="getProduct403">
<input message="tns:getProduct403" xmlns:ns37="http://www.w3.org/2007/05/addressing/metadata" ns37:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct403Request"/>
<output message="tns:getProduct403Response" xmlns:ns38="http://www.w3.org/2007/05/addressing/metadata" ns38:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct403Response"/>
</operation>
<operation name="getProduct124">
<input message="tns:getProduct124" xmlns:ns39="http://www.w3.org/2007/05/addressing/metadata" ns39:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct124Request"/>
<output message="tns:getProduct124Response" xmlns:ns40="http://www.w3.org/2007/05/addressing/metadata" ns40:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct124Response"/>
</operation>
<operation name="getProduct405">
<input message="tns:getProduct405" xmlns:ns41="http://www.w3.org/2007/05/addressing/metadata" ns41:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct405Request"/>
<output message="tns:getProduct405Response" xmlns:ns42="http://www.w3.org/2007/05/addressing/metadata" ns42:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct405Response"/>
</operation>
<operation name="getProduct159">
<input message="tns:getProduct159" xmlns:ns43="http://www.w3.org/2007/05/addressing/metadata" ns43:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct159Request"/>
<output message="tns:getProduct159Response" xmlns:ns44="http://www.w3.org/2007/05/addressing/metadata" ns44:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct159Response"/>
</operation>
<operation name="getProduct103">
<input message="tns:getProduct103" xmlns:ns45="http://www.w3.org/2007/05/addressing/metadata" ns45:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct103Request"/>
<output message="tns:getProduct103Response" xmlns:ns46="http://www.w3.org/2007/05/addressing/metadata" ns46:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct103Response"/>
</operation>
<operation name="getProduct101">
<input message="tns:getProduct101" xmlns:ns47="http://www.w3.org/2007/05/addressing/metadata" ns47:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct101Request"/>
<output message="tns:getProduct101Response" xmlns:ns48="http://www.w3.org/2007/05/addressing/metadata" ns48:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct101Response"/>
</operation>
<operation name="getProduct105">
<input message="tns:getProduct105" xmlns:ns49="http://www.w3.org/2007/05/addressing/metadata" ns49:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct105Request"/>
<output message="tns:getProduct105Response" xmlns:ns50="http://www.w3.org/2007/05/addressing/metadata" ns50:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct105Response"/>
</operation>
<operation name="getProduct152">
<input message="tns:getProduct152" xmlns:ns51="http://www.w3.org/2007/05/addressing/metadata" ns51:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct152Request"/>
<output message="tns:getProduct152Response" xmlns:ns52="http://www.w3.org/2007/05/addressing/metadata" ns52:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct152Response"/>
</operation>
<operation name="getProduct108">
<input message="tns:getProduct108" xmlns:ns53="http://www.w3.org/2007/05/addressing/metadata" ns53:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct108Request"/>
<output message="tns:getProduct108Response" xmlns:ns54="http://www.w3.org/2007/05/addressing/metadata" ns54:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct108Response"/>
</operation>
<operation name="getProduct136">
<input message="tns:getProduct136" xmlns:ns55="http://www.w3.org/2007/05/addressing/metadata" ns55:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct136Request"/>
<output message="tns:getProduct136Response" xmlns:ns56="http://www.w3.org/2007/05/addressing/metadata" ns56:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct136Response"/>
</operation>
<operation name="getProduct118">
<input message="tns:getProduct118" xmlns:ns57="http://www.w3.org/2007/05/addressing/metadata" ns57:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct118Request"/>
<output message="tns:getProduct118Response" xmlns:ns58="http://www.w3.org/2007/05/addressing/metadata" ns58:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct118Response"/>
</operation>
<operation name="getProduct115">
<input message="tns:getProduct115" xmlns:ns59="http://www.w3.org/2007/05/addressing/metadata" ns59:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct115Request"/>
<output message="tns:getProduct115Response" xmlns:ns60="http://www.w3.org/2007/05/addressing/metadata" ns60:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct115Response"/>
</operation>
<operation name="getProduct116">
<input message="tns:getProduct116" xmlns:ns61="http://www.w3.org/2007/05/addressing/metadata" ns61:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct116Request"/>
<output message="tns:getProduct116Response" xmlns:ns62="http://www.w3.org/2007/05/addressing/metadata" ns62:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct116Response"/>
</operation>
<operation name="getProduct137">
<input message="tns:getProduct137" xmlns:ns63="http://www.w3.org/2007/05/addressing/metadata" ns63:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct137Request"/>
<output message="tns:getProduct137Response" xmlns:ns64="http://www.w3.org/2007/05/addressing/metadata" ns64:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct137Response"/>
</operation>
<operation name="getProduct132">
<input message="tns:getProduct132" xmlns:ns65="http://www.w3.org/2007/05/addressing/metadata" ns65:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct132Request"/>
<output message="tns:getProduct132Response" xmlns:ns66="http://www.w3.org/2007/05/addressing/metadata" ns66:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct132Response"/>
</operation>
<operation name="getProduct122">
<input message="tns:getProduct122" xmlns:ns67="http://www.w3.org/2007/05/addressing/metadata" ns67:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct122Request"/>
<output message="tns:getProduct122Response" xmlns:ns68="http://www.w3.org/2007/05/addressing/metadata" ns68:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct122Response"/>
</operation>
<operation name="getProduct163">
<input message="tns:getProduct163" xmlns:ns69="http://www.w3.org/2007/05/addressing/metadata" ns69:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct163Request"/>
<output message="tns:getProduct163Response" xmlns:ns70="http://www.w3.org/2007/05/addressing/metadata" ns70:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct163Response"/>
</operation>
<operation name="getProduct125">
<input message="tns:getProduct125" xmlns:ns71="http://www.w3.org/2007/05/addressing/metadata" ns71:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct125Request"/>
<output message="tns:getProduct125Response" xmlns:ns72="http://www.w3.org/2007/05/addressing/metadata" ns72:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct125Response"/>
</operation>
<operation name="getProduct130">
<input message="tns:getProduct130" xmlns:ns73="http://www.w3.org/2007/05/addressing/metadata" ns73:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct130Request"/>
<output message="tns:getProduct130Response" xmlns:ns74="http://www.w3.org/2007/05/addressing/metadata" ns74:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct130Response"/>
</operation>
<operation name="getProduct131">
<input message="tns:getProduct131" xmlns:ns75="http://www.w3.org/2007/05/addressing/metadata" ns75:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct131Request"/>
<output message="tns:getProduct131Response" xmlns:ns76="http://www.w3.org/2007/05/addressing/metadata" ns76:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct131Response"/>
</operation>
</portType>
</definitions>